body,html{
    margin:0;
    padding: 0;
}
header{
     border: solid;
     display: flex;
     flex-direction: row;
     height: 80px;
     align-items: center;
     justify-content: space-evenly;
     background-color: #121212;
     position: fixed;
     width: 100%;

     p{
        font-size: large;
        font-weight:600;
        color: white;
    }

     nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border:none;
        width: 40%;

        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.884);

            &:hover{
                color: white;
            }
        }

     }
 }

 @media only  screen and (max-width: 540px) {
    header{
        flex-direction: column;
        height: auto;
    nav a{
        margin-left: 1em;
    }
    }
}

footer{
    background-color: #121212;
    height: 50px;
    text-align: center;
    margin-top: 2em;
    
    a{
        text-decoration: none;
        margin: 0.7em;
        color: white;
    }
}

main{
    border:none;
    padding-top: 100px;

    p{
        font-size: large;
        text-align: center;
    }
    #master-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .content{
            border: none;
            height: auto;
            width: 90%;
            border-radius: 1em;
            box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233) ;

            table{
                width:100%;

                tr{
                    height: 4em;
                }
                td{
                    text-align: center;

                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 30px;

                        &:hover{
                            color: green;
                        }

                        button{
                            background-color: #121212;
                            border: none;
                            height: 3em;
                            width: 5em;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}