body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  border: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #121212;
  opacity: 0.6;
  position: fixed;
  width: 100%;
}

header p {
  font-size: large;
  font-weight: 600;
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: none;
  width: 40%;
}

header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}

header nav a:hover {
  color: white;
}

@media only screen and (max-width: 540px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  header nav a {
    margin-left: 1em;
  }
}

footer {
  background-color: #121212;
  height: 50px;
  text-align: center;
  margin-top: 2em;
  width: 100%;
  position: relative;
  bottom: 0;
  opacity: 0.8;
}

footer a {
  text-decoration: none;
  margin: 0.7em;
  color: white;
}

main {
  border: none;
  padding-top: 100px;
  height: 100%;
}

main p {
  font-size: large;
  text-align: center;
}

main #master-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #master-content .content {
  border: none;
  height: auto;
  width: 90%;
  border-radius: 1em;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.233);
}

main #master-content .content table {
  width: 100%;
}

main #master-content .content table tr {
  height: 4em;
}

main #master-content .content table td {
  text-align: center;
}

main #master-content .content table td a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

main #master-content .content table td a:hover {
  color: green;
}

main #master-content .content table td a button {
  background-color: #121212;
  border: none;
  height: 3em;
  width: 5em;
  color: white;
}
/*# sourceMappingURL=index_base.css.map */