{% extends 'index_base.html' %}
{%  block what%} Account{% endblock %}
{% block content %}
{% for message in messages %}
    <p style="color: green;">{{message}}</p>
{% endfor %}
{% load static%}
    <link rel="stylesheet" href="{% static '../static/css/account.css' %}">
    <div id="profile">
        <div id="photo">
            <img src="{{picture.user_profile.url}}" alt="NONE">
        </div>
        <a href="{% url 'home:Updatedata' %}"  title="Change Details" style="font-size: medium;">Change details</a>
        <a href="{% url 'home:Updateprofile' %}"  title="Change profile picture" style="font-size: medium;">Change profile picture</a>
        <div id="details">
            <p>Username: <span>{{html_user_details.username | title}}</span></p>
            <p>Name: <span>{{html_user_details.first_name | title}}</span> <span>{{html_user_details.last_name | title}}</span></p>
            <p>Email Adress <span>{{html_user_details.email}}</span></p>
        </div>
    </div>
{% endblock %}