{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoexpress</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/index_base.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home:Home' %}" style="text-decoration: none;"><p>TodoExpress</p></a>
        <nav>
            <a href="{% url 'home:History' %}" style="text-decoration: none"title="History"> <i class="material-icons-outlined">history</i> History</a>
            <a href="{% url 'home:Todo' %}" title="Add"><i class = 'material-icons-outlined'>add</i> Add</a>
            <a href="{% url 'auth:Logout' %}" title="Logout"><i class="material-icons-outlined">logout</i>Logout</a>
            <a href="{% url 'home:Account' %}" title="Account"><i class="material-icons-outlined">person</i> Account</a>
        </nav>
    </header>

    <main>
        <p>{%  block what%} {% endblock %}</p>

        <div id="master-content">
            <div class="content">
            {% block content %}
            
            {% endblock%}
        </div>
    </main>

    <footer>
        <a href="{% url 'home:About' %}">About</a>
        <a href="">Contact</a>
        <a href="">Report</a>
        <a href="">Help</a>
    </footer>
</body>
</html>